
/* RESET */
body, div, nav, a, button, i, header, p, img , pre, h1, h2, ul, li, section, footer {
    margin: 0;
    padding: 0;
    
    
    border: none;
    outline: none;
    box-sizing: border-box;
}

/* BASE STYLES */
body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 62.5%;
}
  
li {
    list-style: none;
}
  
a {
    text-decoration: none;
}
  
img {
    max-width: 100%;
}

/* GRID */
.estrutura {
    display: grid;
    
    grid-template-columns: 100%;
    grid-template-areas:
        "header"
        "navbar"
        "sidenav"
        "content"
        "footer"
    ;
}

@media (max-width: 640px) {
    .estrutura {
        grid-template-areas:
        "header"
        "navbar"
        "sidenav"
        "content"
        "footer"
    ;
    }
}


/* TOOLTIPS */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted  #B07DFB;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #B07DFB;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
    line-height: 0.5;
    -webkit-text-size-adjust: 50%;
    font-size: 0.8em;
    font-weight: 50;
    
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent  #B07DFB transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* HEADER */
.header {
    display: grid;
    grid-area: header;
    background: linear-gradient(135deg, #8844ee, #B07DFB);
    align-items: center;
    grid-template-columns: auto;
    padding: 20px;
}
.logo {
    margin-right: auto;
    max-width: 55px;
}
.header nav a {
    display: block;
    padding: 10px;
    color: white;
    font-size: 0.6em;
    background: rgba(0,0,0,.1);
    border-radius: 5px;
    transition: 0.1s;
}

.header nav ul {
    display: flex;
    flex-wrap: wrap;
}

.header nav a:hover {
    background: rgba(0,0,0,.5);
}

/* MENU */

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.menu-ul{
    display: none;
}

.menu-ul li a{
    display: none;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    padding: 10px 20px;
    text-decoration: none;
    max-width: 100%;
}

.menu-item{
    margin: 2px 4px 2px 4px;
}


.hamburguer{
    display: none;
    background-color: transparent;
    border: 0;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.hamburguer:focus{
    outline: none;
}

@media (max-width: 640px){
    
    .menu-ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        list-style-type: none;
    }


    .hamburguer{
        display: block;
    }
}

/*NAVBAR*/

.navbar{
    grid-area: navbar;
    background: #fafbfc;
    display: flex;
    align-items: flex-start;
    
}

.navbar > nav {
    width: 80px;
    text-align: center;
    box-shadow: 5px 5px 15px 0px rgba(44,44,44,0.15);
    border-radius: 5px;
    position: relative;
}

.navbar-item a {
    display: inline-block;
    min-width: 50px;
    max-width: 100px;
    margin: 20px 55px 20px 55px;
    background: white;
    box-shadow: 5px 5px 15px 0px rgba(44,44,44,0.15);
    border-radius: 5px;
    padding: 20px;
    transition: .1s ease-out;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}

.navbar ul li{
    display: inline;
}

.navbar-item a:hover {
    background: #B07DFB;
}

@media screen and (max-width: 640px){

    .navbar{
        display: none;
    }
}

/* SIDENAV */

.profile {
    display: flex;
    margin-right: auto;
    
}

.sidenav {
    display: grid;
    grid-area: sidenav;
    background: #fafbfc;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.sidenav ul {
    display: flex;
    flex-wrap: nowrap;
}

.profile-img{
    text-align: center;
    align-items: center;
    width:80px;
    border-radius: 5px;
    
}

/* CONTENT */

.content {
    display: grid;
    grid-area: content;
    margin: 0 auto;
    grid-template-columns: auto;
    grid-gap: 20px;
    padding: 20px;
}

/* ESTILOS DO CONTENT */

.smaller{
    font-size: smaller;
}

h2{
    font-weight: larger;
    font-size: 1.1em;
    line-height: normal;
    
}

p {
    color: rgba(0, 0, 0, 0.7);
    text-align: justify;
    font-weight: normal;
    font-size: 1em;
}

.content div{
    margin: 0 0 10px 0 ;
}

.content div p{
    margin: 0 0 10px 0 ;
}

.linkExterno{
    display: block;
    
    font-weight: normal;
    font-size: 0.6em;
	max-width: 80px;
	text-align: center;
	text-decoration: none;
	padding: 8px 20px 10px 20px;
	text-transform: uppercase;
	background-image: linear-gradient(#9B30F9, #84e);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
	border-radius: 4px;
}

.linkExterno:hover {
	background: #a494f5;
	color: white;
}

/* TITULO */

.titulo {
    color: #B07DFB;
}

.titulo h1 {
    font-size: 2em;
    font-weight: 700;
    line-height: 1;
}

.titulo h1::after{
    content: "|";
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite ;
}


@keyframes pisca{
    0%, 100%{
        opacity: 1;
    }

    50%{
        opacity: 0;
    }
}

.titulo2{
    color: #041f36;
}


/* DESTAQUE */
.destaque{
    color: rgba(3, 36, 48, 0.5);
}


/* FOOTER */

.footer {
    grid-area: footer;
    background: linear-gradient(135deg, #8844ee, #B07DFB);
}

.footer p {
    color: white;
    text-align: center;
    padding: 20px;
}

@media (min-width: 640px) and (max-width: 768px){
    
    .estrutura {
    
        grid-template-columns: minmax(160px, 1fr) 5fr;
        grid-template-areas:
        "header header"
        "navbar navbar"
        "sidenav content"
        "footer footer "
        ;
    }

    .logo {
        max-width: 70px;
        margin-right: auto;
    }

   .navbar-item a{
        margin: 20px 25px 20px 25px;
   }

   .profile-img{
       display: initial;
      align-items: flex-start;
      text-align: start;
   }
}